<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex,nofollow">
	<title>RSM Design · Email Signature Generator</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="assets/css/email-signatures.css" rel="stylesheet" type="text/css">

	<link href="rsm-design_logo_mark_favicon.png" rel="shortcut icon" type="image/x-icon"/>
	<link href="rsm-design_logo_mark_touch-icon.png" rel="apple-touch-icon"/>
</head>
<body>
	<section id="app">
		<h1>RSM Design email signatures</h1>
		<ol>
			<li>Enter your information in the form below.</li>
			<li>
				Highlight the signature at the bottom of the page and copy.<br>
				<ul style="list-style: disc">
					<li>Mac users: Press <b>Command + C</b></li>
					<li>PC users: Press <b>CTRL + C</b></li>
				</ul>
				<img style="margin:0.5em 0 0 -2em;max-width:200px" src="assets/img/rsm_email-signature-highlight.png" alt="A highlighted signature">
			</li>
			<li>Follow the instructions for your email client, listed on <a target="_blank" href="https://codepen.io/jlwarner/live/802990ba7640779519725905718775bb">this page.</a></li>
		</ol>
		<hr/>
		<form>
			<h2>User information</h2>
			<label for="name">
				Name
				<input v-model="user.name" name="name" type="text" placeholder="Full Name">
			</label>
			<label for="title">
				Job Title
				<input v-model="user.title" name="title" type="text" placeholder="Job Title">
			</label>
			<label for="office">
				Studio
				<select v-model="user.office" name="office">
					<option disabled value="">Please select one</option>
					<option>San Clemente</option>
					<option>Dallas</option>
					<option>Los Angeles</option>
				  </select>
			</label>
			<label for="dphone">
				Direct Extension
				<input v-model="user.dphone" name="dphone" type="tel" placeholder="XXX">
			</label>
			<label for="mphone">
				Mobile Phone
				<input v-model="user.mphone" name="mphone" type="tel" placeholder="XXX.XXX.XXXX">
			</label>
		</form>
		<hr style="margin-bottom:3em;"/>
		
		<div dir="ltr" style="color:#54565A;font-weight:normal;font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;">
			
			<!-- NAME -->

			<p style="margin:0;color:#54565A;font-weight:bold;font-weight:700;font:700 16px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;">{{ user.name }}</p>
			<p style="margin:0 0 20px;font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;">{{ user.title }}</p>
			
			<a href="https://rsmdesign.com/" target="_blank">
				<img style="width:105px;max-width:100%;height:auto;" src="assets/img/rsm_logo_email-signature.png" alt="RSM Design logo">
			</a>

			<p style="margin:4px 0 12px; font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;">San Clemente&nbsp;. Dallas&nbsp;. Los Angeles</p>
			
			<!-- PHONE NUMBERS -->

			<p style="margin:12px 0 0; font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;">
				<a v-if="user.office=='San Clemente'" v-bind:href="'tel:+1' + user.scphone.replace(/\./g, '')" target="_blank" style="color:#54565A;text-decoration-skip:ink;text-decoration-skip-ink:auto;">+1&nbsp;{{ user.scphone.replace(/\-/g, '.') }}</a>
				<a v-if="user.office=='Dallas'" v-bind:href="'tel:+1' + user.dallasphone.replace(/\./g, '')" target="_blank" style="color:#54565A;text-decoration-skip:ink;text-decoration-skip-ink:auto;">+1&nbsp;{{ user.dallasphone.replace(/\-/g, '.') }}</a>
				<a v-if="user.office=='Los Angeles'" v-bind:href="'tel:+1' + user.laphone.replace(/\./g, '')" target="_blank" style="color:#54565A;text-decoration-skip:ink;text-decoration-skip-ink:auto;">+1&nbsp;{{ user.laphone.replace(/\-/g, '.') }}</a>
				<span v-if="user.dphone"> x{{ user.dphone }}</span>
				 Office
			</p>

			<p v-if="user.mphone" style="margin:0; font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;"><a v-bind:href="'tel:+1' + user.mphone.replace(/\./g, '')" target="_blank" style="color:#54565A;text-decoration-skip:ink;text-decoration-skip-ink:auto;">+1&nbsp;{{ user.mphone.replace(/\-/g, '.') }}</a> Mobile</p>
			
			<!-- URL -->

			<p style="margin:12px 0 0; font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;"><a href="https://rsmdesign.com/" target="_blank" style="color:#54565A;font-weight:bold;font-weight:500;font:400 12px/1.2 'Proxima Nova',Avenir,'Avenir Next',Verdana,-apple-system,BlinkMacSystemFont,Tahoma,'Helvetica Neue',Helvetica,Roboto,Noto,Arial,sans-serif;text-decoration-skip:ink;text-decoration-skip-ink:auto;">rsmdesign.com</a></p>
		</div>
	</section>
	<script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			data: {
				user: {
					name: 'First Last',
					title: 'Job Title',
					office: 'San Clemente',
					scphone: '949.492.9479',
					dallasphone: '972.974.3690',
					laphone: '213.705.9006',
					dphone: '',
					mphone: '',
				}
			}
		})
	</script>
</body>
</html>